{% extends "base.html" %}

{% block head_title %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="/assets/js/jquery-1.10.2.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script type='text/javascript' src='/assets/js/auto_complete.js'></script>

<title>Connex: Search</title>

{% endblock %}

{% block main_content %}

<div></div>

<div>
    <form action="/search" method="get">
        <h3>Search Streams</h3>
        <div>
            <input name="search_str" size="35" id="search_str">
            <input type="submit" value="Search Stream">
        </div>
    </form>
</div>

<div>
    <table cellpadding="5">
    {% for s in stream_list %}
        {% if stream_list.index(s) % num_of_cols == 0 %}
        <tr>
        {% endif %}
        <td align="center" valign="center">
            <a href="/update_cookies?stream_key={{ s['key'].urlsafe() }}">
                <img src="{{ s['cover_photo_url'] }}" height="200" width="300">
                <h4>{{ s['name'] }}</h4>
            </a>
        </td>
        {% if stream_list.index(s) % num_of_cols == (num_of_cols - 1) %}
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>

{% endblock %}